@media (min-width: 1600px) {
  .uk-grid-0-xl {
    margin-left: -0px;
  }
  .uk-grid-0-xl > * {
    padding-left: 0px;
  }
  .uk-grid-0-xl > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-0-l {
    margin-left: -0px;
  }
  .uk-grid-0-l > * {
    padding-left: 0px;
  }
  .uk-grid-0-l > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 960px) {
  .uk-grid-0-m {
    margin-left: -0px;
  }
  .uk-grid-0-m > * {
    padding-left: 0px;
  }
  .uk-grid-0-m > .uk-grid-margin {
    margin-top: 0px;
  }
}

@media (min-width: 640px) {
  .uk-grid-0-s {
    margin-left: -0px;
  }
  .uk-grid-0-s > * {
    padding-left: 0px;
  }
  .uk-grid-0-s > .uk-grid-margin {
    margin-top: 0px;
  }
}

.uk-grid-0 {
  margin-left: -0px;
}
.uk-grid-0 > * {
  padding-left: 0px;
}
.uk-grid-0 > .uk-grid-margin {
  margin-top: 0px;
}

@media (min-width: 1600px) {
  .uk-grid-8-xl {
    margin-left: -8px;
  }
  .uk-grid-8-xl > * {
    padding-left: 8px;
  }
  .uk-grid-8-xl > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-8-l {
    margin-left: -8px;
  }
  .uk-grid-8-l > * {
    padding-left: 8px;
  }
  .uk-grid-8-l > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 960px) {
  .uk-grid-8-m {
    margin-left: -8px;
  }
  .uk-grid-8-m > * {
    padding-left: 8px;
  }
  .uk-grid-8-m > .uk-grid-margin {
    margin-top: 8px;
  }
}

@media (min-width: 640px) {
  .uk-grid-8-s {
    margin-left: -8px;
  }
  .uk-grid-8-s > * {
    padding-left: 8px;
  }
  .uk-grid-8-s > .uk-grid-margin {
    margin-top: 8px;
  }
}

.uk-grid-8 {
  margin-left: -8px;
}
.uk-grid-8 > * {
  padding-left: 8px;
}
.uk-grid-8 > .uk-grid-margin {
  margin-top: 8px;
}

@media (min-width: 1600px) {
  .uk-grid-16-xl {
    margin-left: -16px;
  }
  .uk-grid-16-xl > * {
    padding-left: 16px;
  }
  .uk-grid-16-xl > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 1200px) {
  .uk-grid-16-l {
    margin-left: -16px;
  }
  .uk-grid-16-l > * {
    padding-left: 16px;
  }
  .uk-grid-16-l > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 960px) {
  .uk-grid-16-m {
    margin-left: -16px;
  }
  .uk-grid-16-m > * {
    padding-left: 16px;
  }
  .uk-grid-16-m > .uk-grid-margin {
    margin-top: 16px;
  }
}

@media (min-width: 640px) {
  .uk-grid-16-s {
    margin-left: -16px;
  }
  .uk-grid-16-s > * {
    padding-left: 16px;
  }
  .uk-grid-16-s > .uk-grid-margin {
    margin-top: 16px;
  }
}

.uk-grid-16 {
  margin-left: -16px;
}
.uk-grid-16 > * {
  padding-left: 16px;
}
.uk-grid-16 > .uk-grid-margin {
  margin-top: 16px;
}

body {
  font-family: "Avenir Next Rounded Pro Regular", sans-serif;
}

/**
 * --------------------------------------------------------------------
 * Avenir Next Rounded Pro
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Avenir Next Rounded Pro Regular";
  font-display: auto;
  src: local("Avenir Next Rounded Pro Regular"), url("../fonts/AvenirNextRoundedPro/AvenirNextRoundedProRegular.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * --------------------------------------------------------------------
 * Roboto
 * --------------------------------------------------------------------
 */
@font-face {
  font-family: "Roboto Bold";
  font-display: auto;
  src: local("Roboto Bold"), url("../fonts/Roboto/Roboto-Bold_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.page1 {
  padding: 20px 0;
}
@media (min-width: 960px) {
  .page1 {
    border-bottom: solid 1px #dfe3e8;
    padding: 0;
  }
}
.page1__sidebarLeft {
  width: 288px !important;
}
@media (min-width: 960px) {
  .page1__sidebarLeft {
    border-right: solid 1px #dfe3e8;
  }
}
.page1__sidebarLeft__item {
  padding: 17px 20px;
  border-bottom: solid 1px #dfe3e8;
}
.page1__sidebarLeft__item:first-child {
  border-top: solid 1px #dfe3e8;
}
@media (min-width: 960px) {
  .page1__sidebarLeft__item:first-child {
    border-top: none;
  }
}
@media (min-width: 960px) {
  .page1__sidebarLeft__item {
    padding: 17px 20px 20px 32px;
  }
}
.page1__sidebarLeft__item__txt1 {
  line-height: 1.36;
  color: #000;
  font-family: "Avenir Next Rounded Pro Regular", sans-serif;
}
.page1__sidebarLeft__item__txt1 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .page1__sidebarLeft__item__txt1 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__sidebarLeft__item__txt1 {
    font-size: 14px !important;
  }
}
.page1__sidebarLeft__item__txt1--c1 {
  color: #864716;
}
.page1__sidebarLeft__item__txt1--c1:nth-child(n+2) {
  margin-top: 4px;
}
.page1__sidebarLeft__item__txt1--c2 {
  line-height: 1.29;
}
.page1__sidebarLeft__item__txt1--c3 {
  color: #919eab;
}
.page1__sidebarLeft__item__title1 {
  font-family: "Roboto Bold", sans-serif;
  color: #000;
  line-height: 1.31;
  letter-spacing: 0.8px;
  margin-bottom: 17px;
}
.page1__sidebarLeft__item__title1 {
  font-size: 14.4px !important;
}
@media screen and (min-width: 640px) {
  .page1__sidebarLeft__item__title1 {
    font-size: calc(14.4px + 1.6 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__sidebarLeft__item__title1 {
    font-size: 16px !important;
  }
}
.page1__sidebarLeft__item__title2 {
  color: #000;
}
.page1__sidebarLeft__item__title2 {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .page1__sidebarLeft__item__title2 {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__sidebarLeft__item__title2 {
    font-size: 14px !important;
  }
}
.page1__sidebarLeft__item__margin1 {
  margin-bottom: 6px;
}
.page1__contentRight {
  padding: 20px 16px;
}
@media (min-width: 960px) {
  .page1__contentRight {
    padding: 27px 32px 24px 32px;
  }
}
.page1__contentRight__margin1 {
  margin-bottom: 50px;
}
@media (min-width: 960px) {
  .page1__contentRight__margin1 {
    margin-bottom: 23px;
  }
}
.page1__contentRight__title {
  margin-bottom: 9px;
  line-height: 1.35;
  letter-spacing: 1px;
  color: #000;
}
@media (min-width: 960px) {
  .page1__contentRight__title {
    letter-spacing: 1.4px;
    line-height: 1.32;
    margin-bottom: 15px;
  }
}
.page1__contentRight__title {
  font-size: 20px !important;
}
@media screen and (min-width: 640px) {
  .page1__contentRight__title {
    font-size: calc(20px + 8 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__contentRight__title {
    font-size: 28px !important;
  }
}
.page1__contentRight__desc {
  line-height: 1.43;
  letter-spacing: 0.7px;
  text-align: left;
  color: #000000;
}
@media (min-width: 960px) {
  .page1__contentRight__desc {
    line-height: 1.36;
  }
}
.page1__contentRight__desc {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .page1__contentRight__desc {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__contentRight__desc {
    font-size: 14px !important;
  }
}
.page1__contentRight__table {
  border: solid 1px #dfe3e8;
}
.page1__contentRight__table tr th {
  color: #212b36;
}
.page1__contentRight__table tr th {
  font-size: 14px !important;
}
@media screen and (min-width: 640px) {
  .page1__contentRight__table tr th {
    font-size: calc(14px + 0 * ((100vw - 640px) / 560)) !important;
  }
}
@media screen and (min-width: 1200px) {
  .page1__contentRight__table tr th {
    font-size: 14px !important;
  }
}
.page1__contentRight__table tr td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.page1__contentRight__table__txt1 {
  color: #212b36;
  line-height: 1.36;
  font-size: 13px;
}
@media (min-width: 960px) {
  .page1__contentRight__table__txt1 {
    font-size: 14px;
  }
}
.page1__contentRight__table__txt2 {
  line-height: 1.36;
  font-size: 13px;
}
@media (min-width: 960px) {
  .page1__contentRight__table__txt2 {
    font-size: 14px;
  }
}
.page1__contentRight__table__txt2 a {
  color: #864716;
}
.page1__contentRight__table__check {
  border-radius: 3px;
  border: solid 1px #c4cdd5;
}
.page1__contentRight__table__check:focus {
  border-color: #864716;
}
.page1__contentRight__table__check::selection {
  border-color: #864716;
  background: #fff;
}
.page1__contentRight__table__check:checked {
  border-color: #864716;
  background-color: #fff;
  background-image: url("../images/check.png");
}
.page1__contentRight__table__check:checked:focus {
  background-color: #fff;
}
.page1__contentRight__tableMobile {
  margin-left: -16px;
  margin-right: -16px;
}
.page1__contentRight__tableMobile__item {
  padding: 20px 16px;
  border-bottom: solid 1px #dfe3e8;
}
.page1__contentRight__tableMobile__item:first-child {
  border-top: solid 1px #dfe3e8;
}
.page1__contentRight__btn1 {
  padding: 0 10px;
  border: solid 1px #919eab;
  background-color: #f4f6f8;
}
.page1__contentRight__btnx, .page1__contentRight__btn3, .page1__contentRight__btn2 {
  line-height: 30px;
  border-radius: 3px;
  font-size: 14px;
  padding: 0 16px;
}
.page1__contentRight__btn2 {
  background-color: #685240;
  color: #ffffff;
  border-color: #685240;
}
.page1__modal {
  padding-left: 0;
  padding-right: 0;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background-color: rgba(33, 43, 54, 0.4);
}
.page1__modal__dialog {
  max-width: 620px !important;
  width: 100% !important;
}
.page1__modal__pad {
  padding: 20px;
}
.page1__modal__header {
  padding-top: 17px;
  padding-bottom: 17px;
}
.page1__modal__close svg {
  display: none;
}
.page1__modal__close img {
  width: 16px;
  height: 16px;
}
@media (min-width: 960px) {
  .page1__modal__close img {
    width: 20px;
    height: 20px;
  }
}
.page1__modal__item:nth-child(n+2) {
  margin-top: 16px;
}
.page1__modal__title {
  color: #191919;
  font-size: 20px;
  line-height: 1;
}
.page1__modal__txt1 {
  color: #191919;
  line-height: 1.57;
  font-size: 14px;
}
.page1__modal__margin1 {
  margin: 0 !important;
}
.page1__modal__margin1:nth-child(n+2) {
  margin-top: 13px !important;
}
.page1__modal__input {
  border-radius: 3px;
  border: solid 1px #d5d5d5;
  height: 36px;
}
/*# sourceMappingURL=app.css.map */